<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombres','apellidos','cedula','email']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Estudiantes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="lastname">Apellido <p-sortIcon field="lastname"></p-sortIcon></th>
                        <th pSortableColumn="cedula">Cedula <p-sortIcon field="cedula"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width:25%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{product.estudiante.nombres || product.id}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.estudiante.apellidos}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.estudiante.cedula}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.estudiante.email}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-angle-right" class="p-button-rounded p-button-success mr-2" (click)="onNext(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
</div>
